# sphinx build directories
_build/

# dotfiles
.*
!.gitignore
!.mailmap
# compiled python files
*.py[co]
# setup.py egg_info
*.egg-info
# emacs backup files
*~
# hg stuff
*.orig
status
# odoo filestore
openerp/filestore
# maintenance migration scripts
openerp/addons/base/maintenance
setup.cfg
requirements.txt
openerp-wsgi.py
openerp-gevent
MANIFEST.in
LICENSE
Makefile
debian/*
doc/*
MANIFEST.in/*
openerp/*
openerp-server
README.md
setup/*
setup.py
CONTRIBUTING.md
# generated for windows installer?
install/win32/*.bat
install/win32/meta.py

# various virtualenv
/bin/
/build/
/dist/
/include/
/lib/
/man/
/share/
/src/
